# Vergabe NRW Data Wrangling / creating csv data_nrw_clean

### When this data was collected?
07 /01/2021  , see Vergabe NRW CSV file

### What does this script do?
This script analizes how what data is available in Vergabe NRW. Its intention is to search for vulnerabilities, and raise up questions about the codebook.

### Step 1: Defining the problem: What we want to see with this data?
    
During almost two years, the Federal and regional governments in Germany needed to aqquire a series of things to deal with COVID-19 pandemics. Due to factors such as lack of vendors, scarcity of material, urgency of purchesing among others, it is expected that many of these purchases are expected to have been made under extraordinary arrangements, involving exclusion from bidding, among others. But should all the purchases be made in this regime.

**We want to discover if there is red flags for mismanagement in COVID-19 measures by the government of Nordrhein-Westfallen in Germany.** To do that, we need to answer the following questions:

> 1. Are all the purchases regarding COVID-19 available ?
> 2. How many purchases were made on an extraordinary basis (no bidding, direct negotiation with seller, etc) ?
> 3. When these purchases were made?
> 4. By the time of extraordinary purchases, was there actually a lack of vendors of urgency of for this purchase?

And how can we beggin to answer those questions?

1. Are all the purchases regarding COVID-19 available ?
    - 1.1 Look at CPV Codes
    - 1.2 Compare the purchases made it here with external databases (there is another Vergabe portal)
    - 1.3 Validate the data with local data (for example, the city of Köln, which might have their own transparency portal)
    - 1.4 Validate the data of a municipality with a Fredom of Information Request
<br><br>
2. How many purchases were made on an extraordinary basis (no bidding, direct negotiation with seller, etc) ?
    - 2.1 See if the data from Vergabe NRW has information about the bidding format and type of contract
<br><br>    
3. When these purchases were made?
    - 3.1 See if the data from Vergabe NRW has information about the data of purchase 
    - 3.2 See if the data from Vergabe NRW has information about the date of contracts
<br><br>
4. By the time of extraordinary purchases, was there actually a lack of vendors of urgency of for this purchase?
    - 4.1 Cross the date information with COVID-19 cases in Germany
    - 4.2 Cross the date information with Hospital Capacity
    - 4.3 See if we find intresting information, milestones or similar information in news articles

### Step 2: Exploring the data

In this specific notebook I'll see the state of art of the data collected from Vergabe NRW and see what problems does it has. The following will be verified:



1. Is there duplicates?
2. Is there missing data?
    - what is this missing data doing in my db?
    
3. Is there encoding problem?
4. Do the cities have always the same name? Or do they have different writings?
5. Is there any information regarding costs? Are the derzeitige Werten (valores correntes)?
6. What each collumn means?
7. What each observation is?
8. Which of the above questions (Step 1) can we answer?

In [1]:
import pandas as pd
import matplotlib 
import numpy as np
import janitor

In [2]:
# This does not belong to the analysis, I'm just creating a function to help me lates:

def glimpse(df, maxvals=10, maxlen=110):
    print('Shape: ', df.shape)
    
    def pad(y):
        max_len = max([len(x) for x in y])
        return [x.ljust(max_len) for x in y]
    
    # Column Name
    toprnt = pad(df.columns.tolist())
    
    # Column Type
    toprnt = pad([toprnt[i] + ' ' + str(df.iloc[:,i].dtype) for i in range(df.shape[1])])
    
    # Num NAs
    num_nas = [df.iloc[:,i].isnull().sum() for i in range(df.shape[1])]
    num_nas_ratio = [int(round(x*100/df.shape[0])) for x in num_nas]
    num_nas_str = [str(x) + ' (' + str(y) + '%)' for x,y in zip(num_nas, num_nas_ratio)]
    max_len = max([len(x) for x in num_nas_str])
    num_nas_str = [x.rjust(max_len) for x in num_nas_str]
    toprnt = [x + ' ' + y + ' NAs' for x,y in zip(toprnt, num_nas_str)]
    
    # Separator
    toprnt = [x + ' : ' for x in toprnt]
    
    # Values
    toprnt = [toprnt[i] + ', '.join([str(y) for y in df.iloc[:min([maxvals,df.shape[0]]), i]]) for i in range(df.shape[1])]
    
    # Trim to maxlen
    toprnt = [x[:min(maxlen, len(x))] for x in toprnt]
    
    for x in toprnt:
        print(x)
        

####sec function:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [3]:
#importing scraped data
data_nrw = pd.read_csv("df_vergabe_nrw_jan2021.csv")

C:\Users\yvfg3118\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

We have already some problems in importing this data: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.

In [4]:
#Verificando as cinco primeiras colunas
data_nrw.head()

,Unnamed: 0,_id,created_at,updated_at,result_id,result_title,result_description,result_procedure_type,result_order_type,result_publication_date,...,result_buyer_postal_code,result_seller_name,result_seller_town,result_seller_country,result_geo_lon,result_geo_lat,result_value,result_created_at,result_updated_at,result_buyer_country
0,0,CXPNY42D0ZS,2022-01-04T23:00:18.455Z,2022-01-06T23:00:14.633Z,CXPNY42D0ZS,Öffnen/Verschließen von Türen/Toren aller Art ...,['Schüsseldienste kamen im Kalenderjahr 2021 z...,Öffentliche Ausschreibung,UVGO,NaN,...,44139,NaN,NaN,NaN,7.46023,51.49958,NaN,2022-01-04T23:00:18.455Z,2022-01-06T23:00:14.633Z,NaN
1,1,CXPNY42D474,2021-05-26T22:20:10.194Z,2021-06-08T22:19:38.411Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-26T22:20:10.194Z,2021-06-08T22:19:38.411Z,NaN
2,2,CXPNY42D4QL,2021-05-26T22:18:23.840Z,2021-05-31T22:17:09.010Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-26T22:18:23.840Z,2021-05-31T22:17:09.010Z,NaN
3,3,CXPNY42DR40,2020-05-11T00:12:51.144Z,2020-06-26T23:21:14.223Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-11T00:12:51.144Z,2020-06-26T23:21:14.223Z,NaN
4,4,CXPNY42DRDN,2020-04-20T22:14:01.166Z,2020-05-19T00:33:44.632Z,CXPNY42DRDN,Videobeobachtung Dortmund Münsterstraße,"['Software, Hardware, Installations- und Monta...",Öffentliche Ausschreibung,UVGO,NaN,...,44139,NaN,NaN,NaN,7.46023,51.49958,NaN,2020-04-20T22:14:01.166Z,2020-05-19T00:33:44.632Z,NaN

What period is this data about?

In [5]:
print("min created_at", min(data_nrw.created_at), "\n max created_at",max(data_nrw.created_at),
      "\n min updated_at", min(data_nrw.updated_at), "\n max updated_at", max(data_nrw.updated_at))

min created_at 2019-12-17T14:29:56.168Z
 max created_at 2022-01-07T02:11:51.498Z
 min updated_at 2019-12-17T14:43:09.787Z
 max updated_at 2022-01-07T02:12:23.505Z

### Is there duplicates?

In [6]:
glimpse(data_nrw)

Shape:  (47502, 24)
Unnamed: 0               int64        0 (0%) NAs : 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
_id                      object       0 (0%) NAs : CXPNY42D0ZS, CXPNY42D474, CXPNY42D4QL, CXPNY42DR40, CXPNY42
created_at               object       0 (0%) NAs : 2022-01-04T23:00:18.455Z, 2021-05-26T22:20:10.194Z, 2021-05
updated_at               object       0 (0%) NAs : 2022-01-06T23:00:14.633Z, 2021-06-08T22:19:38.411Z, 2021-05
result_id                object  10930 (23%) NAs : CXPNY42D0ZS, nan, nan, nan, CXPNY42DRDN, nan, CXPNY42YT80,
result_title             object  11462 (24%) NAs : Öffnen/Verschließen von Türen/Toren aller Art im Wege der E
result_description       object  10930 (23%) NAs : ['Schüsseldienste kamen im Kalenderjahr 2021 zu insgesamt 4
result_procedure_type    object  13554 (29%) NAs : Öffentliche Ausschreibung, nan, nan, nan, Öffentliche Aussc
result_order_type        object  13554 (29%) NAs : UVGO, nan, nan, nan, UVGO, nan, OTHER, nan, UVGO, UVGO
result_publication_date  object  36823 (78%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_cpv_codes         object  10930 (23%) NAs : ['75131000-3', '75240000-0'], nan, nan, nan, ['75131000-3']
result_buyer_name        object  10930 (23%) NAs : Polizeipräsidium Dortmund - ZA 13.1 - Zentrale Vergabestell
result_buyer_address     object  10939 (23%) NAs : Markgrafenstraße 102, nan, nan, nan, Markgrafebstraße 102,
result_buyer_town        object  10930 (23%) NAs : Dortmund, nan, nan, nan, Dortmund, nan, Dortmund, Dortmund,
result_buyer_postal_code object  10936 (23%) NAs : 44139, nan, nan, nan, 44139, nan, 44139, 44139, 44608, 4460
result_seller_name       object  46042 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_seller_town       object  46042 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_seller_country    object  46042 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_geo_lon           float64 10930 (23%) NAs : 7.46023, nan, nan, nan, 7.46023, nan, 7.46023, 7.46023, 8.0
result_geo_lat           float64 10930 (23%) NAs : 51.49958, nan, nan, nan, 51.49958, nan, 51.49958, 51.49958,
result_value             float64 46066 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_created_at        object       0 (0%) NAs : 2022-01-04T23:00:18.455Z, 2021-05-26T22:20:10.194Z, 2021-05
result_updated_at        object       0 (0%) NAs : 2022-01-06T23:00:14.633Z, 2021-06-08T22:19:38.411Z, 2021-05
result_buyer_country     object  44878 (94%) NAs : nan, nan, nan, nan, nan, nan, nan, DE, nan, nan

In [7]:
#Olhando qtde de linhas e colunas do meu df
data_nrw.shape

(47502, 24)

In [8]:
#Removendo duplicatas:

data_nrw = data_nrw.drop_duplicates()

If we have any duplicates, it is not due to scraping, because the number of hits specified in the API and our final DB lenght is the same (47502) - see file '1. Vergabe NRW CSV file' - so we are cheking now if there are any duplicates in the original database. We are here considering duplicates when two lines (two inputs) are 100% equal.

In [9]:
data_nrw.shape

(47502, 24)

No complete duplicates.
Now we need to verify if we have any ID duplicated:

In [10]:
#See if we have duplicated ID:

id_test = data_nrw.groupby(by = '_id').agg({'_id':['count']})

In [11]:
id_test.shape

(47502, 1)

There are no repetead IDs.
Now we need to see if the `result_id` is always equal to the `_id` . I already know that the main answer is no, since I have NaNs in `result_id` and I don't have them in `_id`, so I'll first drop the NaN in `result_id` and then check if the Ids might be different.

In [12]:
x = data_nrw
x = x[x['result_id'].notna()]

x.isnull().sum() #we do not have empty columns in result_id

#See if they are the same
x['_id'].equals(x['result_id'])

True

**Answer: We do not have duplicate entries** 
<br><br>
### 2. Is there missing data?

As we saw above, we do have both NaN data and empty Data:

**Missing observations without excluding any data (original Dataset)**

- The information missing the most is about the seller: te columns `result_seller_name`, `result_seller_town`, `result_seller_country`, `result_geo_lon` and `result_value` have all 97% of missing data.<br><br>
- The columns `result_buyer_country`comes in seccond place with 94% of missing data. A possibility for it is that maybe all purchases are made in Germany. Need to dig into this information later.<br><br>
- The column `result_publication_date` has 78% of the missing data. <br><br>
- The columns `result_id`, `result_title`, `result_description`, `result_procedure_type`, `result_order_type`, `result_cpv_codes`, `result_buyer_name`, `result_buyer_address`, `result_buyer_town`, `result_buyer_postal_code`, `result_geo_lon` and `result_geo_lat` have from 23% to 29% of missing data.

However, if we consider that the valid bidinds are the ones where `result_id`!= NaN, then we have the following scenario:

In [13]:
y = data_nrw
y = y[y['result_id'].notna()]

#glimpse(y)

**Missing observations whithin valid result_id:**

- 96% of missing data in columns `result_seller_name`, `result_seller_town`, `result_seller_country`, `result_value`, and 93% in `result_buyer_country` <br><br>
- 71% of missing data in column `result_publication_date`<br><br>
- 7% of missing data in columns `result_procedure_type` and `result_order_type` <br><br>

## 3 Is there any encoding problem? / 4. Do the cities have always the same name? Or do they have different writings?

I believe not, since the data was obtained trough an API and the glimpse function shows no strange names. Let's just check if some characters like ü and ß are well written:

In [14]:
# criando um array com nomes únicos de municípios:

munic = data_nrw.result_buyer_town.unique()
type(munic)

numpy.ndarray

In [15]:
#how many unique values do we have here?
munic

array(['Dortmund', nan, 'Herne', 'Düsseldorf', 'Essen', 'Köln', 'Bonn',
       'Gummersbach', 'Aachen', 'Mönchengladbach', 'Soest', 'Bochum',
       'Schwelm', 'Wuppertal', 'Gelsenkirchen', 'Siegen', 'Siegburg',
       'Sankt Augustin', 'Paderborn', 'Lemgo', 'Ratingen', 'Krefeld',
       'Schwerte', 'Duisburg', 'dUISBURG', 'Hamm', 'Münster', 'Steinfurt',
       'Werl', 'Wesel', 'Hagen', 'Castrop-Rauxel', 'Meschede', 'Olpe',
       'Warburg-Scherfede', 'Hürth', 'Horn-Bad Meinberg', 'Detmold',
       'Willich', 'Emmerich am Rhein', 'Oberhausen', 'Düren', 'Monschau',
       'Heinsberg', 'Selm', 'Herford', 'Billerbeck', 'Rosendahl',
       'Hilchenbach', 'Iserlohn', 'Attendorn', 'Fröndenberg', 'Remscheid',
       'Euskirchen', 'Geldern', 'Bielefeld', 'Jülich',
       'Bergisch Gladbach', 'Hattingen', 'Kerpen', 'Recklinghausen',
       'Arnsberg', 'Minden', 'Coesfeld', 'Osnabrück', 'Dillenburg',
       'Netphen', 'Leverkusen', 'Berlin', 'Werne', 'Unna', 'Bönen',
       'Holzwickede', 'Schhwelm', 'Fröndenberg/Ruhr',
       'EUV Stadtbetrieb Castrop-Rauxel AöR', 'Witten', 'Lünen', 'Heiden',
       'Schermbeck', 'Datteln', 'Waltrop', 'Kamen', 'Oer-Erkenschwick',
       'Dorsten', 'Bergkamen', '59192', 'Haltern am See', 'Nümbrecht',
       'Moers', 'Hilden', 'Rheinbach', 'Bergisch-Gladbach', 'Frechen',
       'Bergsich Gladbach', 'Kaarst', 'Kürten', 'Neunkirchen-Seelscheid',
       'Bergheim', 'Bergneustadt', 'Hennef', 'Bad Honnef', 'Marienheide',
       'Hückeswagen', 'Bornheim', 'Ruppichteroth', 'Nettetal',
       'Langenfeld', 'Erftstadt', 'Morsbach', 'Leichlingen',
       'Wachtendonk', 'Rheurdt', 'Windeck', 'Meckenheim', 'Solingen',
       'Burscheid', 'Niederkassel', 'Troisdorf', 'Swisttal',
       'Troisdorf-Sieglar', 'Swisttal-Miel', 'Korschenbroich',
       'Heiligenhaus', 'Monheim am Rhein', 'Brühl', 'Brühl-Ost', 'Lohmar',
       'Bielefdeld', 'Mettingen', 'Vreden', 'Wettringen', 'Ascheberg',
       'Hövelhof', 'Ennigerloh', 'Ahlen', 'Lüdenscheid', 'Telgte',
       'Beckum', 'Wadersloh', 'Everswinkel', 'Meinerzhagen',
       'Plettenberg', 'Herscheid', 'Bünde', 'Warendorf', 'Nottuln',
       'Borken', 'Rhede', 'Balve', 'Olsberg', 'Velen', 'Greven', 'Halver',
       'Brilon', 'Werdohl', 'Stadtlohn', 'Emsdetten', 'Ahaus',
       'Ibbenbüren', 'Gronau', 'Gronau (Westf.)', 'Isselburg',
       'Delbrück-Westenholz', 'Delbrück', 'Lengerich', 'Südlohn',
       'Kierspe', 'Saerbeck', 'Metelen', 'Lienen', 'Westerkappeln',
       'Horstmar', 'Recke', 'Neuenkirchen', 'Hörstel', 'Sundern', 'Oelde',
       'Bocholt', 'Borgentreich', 'Langerwehe', 'Erkelenz', 'Weilerswist',
       'Niederzier', 'Heimbach', 'Merzenich', 'Nörvenich', 'Selfkant',
       'Würselen', 'Bad Münstereifel', 'Stolberg', 'Stolbeerg', 'Kreuzau',
       'Nettersheim', 'Nettersheim-Zingsheim', 'Gangelt', 'Waldfeucht',
       'Blankenheim', 'Kall', 'Zülpich', 'Dahlem', 'Schleiden',
       'Mechernich', 'Alsdorf', 'Schleiden / 53937', 'Baesweiler',
       'Eschweiler', 'Wassenberg', 'Titz', 'Geilenkirchen',
       'Übach-Palenberg', 'Übach Palenberg', 'Herzogenrath', 'Linnich',
       'Simmerath', 'Neuss', 'Mülheim an der Ruhr', 'Bottrop', 'Rheine',
       'Hemer', 'Lippstadt', 'Wesseling', 'Kleve', 'Schmallenberg',
       'Hückelhoven', 'Rösrath', 'Marl', 'Viersen', 'Mettmann', 'Eitorf',
       'Bad Driburg', 'Wülfrath', 'Wipperfürth', 'Radevormwald',
       'Pulheim', '50259 Pulheim', 'Stadt Pulheim', 'Erkrath'],
      dtype=object)

Ok, I don't see encoding problems but I do see different ways to write the same municipalities, and also wrong names / plz codes, etc. Lets make everything more clean by lower all names and adapting them to be written all in the same name based in other database:

In [16]:
data_nrw_clean = data_nrw

# Tranforma em lowecase
data_nrw_clean['result_buyer_town'] = data_nrw_clean['result_buyer_town'].str.lower()

# Transforma tremas em vogais normais e β em ss, e alguns municipios que eu 
# identifiquei que estão com PLZ ao invés de nome:

data_nrw_clean.replace({'result_buyer_town': {'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'β': 'ss', 
                'schleiden / 53937' : 'schleiden', '59192' :  'bergkamen', '50259 pulheim' : 'pulheim'}},
                       regex = True,
                       inplace = True)


# Tira espacos tanto do comeco quanto do fim de cada entrada de uma coluna especifica
data_nrw_clean['result_buyer_town'] = data_nrw_clean.result_buyer_town.str.strip()

# Tira espacos triplos
data_nrw_clean['result_buyer_town'] = data_nrw_clean.result_buyer_town.str.replace('   ', ' ')

# Tira espacos duplos
data_nrw_clean['result_buyer_town'] = data_nrw_clean.result_buyer_town.str.replace('  ', ' ')

# Identifica onde tem numeros
## df2 = data_nrw_clean[data_nrw_clean['result_buyer_town'].astype(str).str.contains("0|1|2|3|4|5|6|7|8|9")]
## df2.result_buyer_town
## resolvido!

#data_nrw_clean

Ok, now I need to see in the clean Data Frame which municipalities are not mentioned:

Ok, we have here a first problem, since according to wikipedia NRW has 396 Städten. So some municipalities are not listed here. Let's continuing checking the funny characters and then we will see which municipalities are missing and which are here.

In [17]:
#openning oficial names from  cities in NRW:
stadt_nrw_oficial = pd.read_csv("georef-germany-gemeinde.csv", sep=';').clean_names()

In [18]:
#looking at the df, to see if it was imported right:

stadt_nrw_oficial[1:3]

,geo_point,geo_shape,year,land_code,land_name,kreis_code,kreis_name,verwaltungsgemeinschaft_code,verwaltungsgemeinschaft_name,gemeinde_code,gemeinde_name,iso_3166_3_area_code,type,gemeinde_name_short_
1,"51.3785350604,6.43780356299","{""coordinates"": [[[6.53703483877689, 51.406307...",2020,5,Nordrhein-Westfalen,5166,Kreis Viersen,51660012,Gemeinschaftsfreie Gemeinde Kempen,51660012012,Stadt Kempen,DEU,Stadt,Kempen
2,"50.6319493605,6.4898827335","{""coordinates"": [[[6.41690653411158, 50.609295...",2020,5,Nordrhein-Westfalen,5358,Kreis Düren,53580012,Gemeinschaftsfreie Gemeinde Heimbach,53580012012,Stadt Heimbach,DEU,Stadt,Heimbach

In [19]:
#cleaning names:

stadt_nrw_oficial['gemeinde_name_short_'] = stadt_nrw_oficial['gemeinde_name_short_'].str.lower()

dict_changes = {'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'β': 'ss'}
    
stadt_nrw_oficial.replace({'gemeinde_name_short_': dict_changes }, regex = True, inplace = True)

#creating the series in alphabetical order
oficial_names = stadt_nrw_oficial['gemeinde_name_short_'].sort_values(ascending=True)

First, see if there is any town name in data_nrw_clean that is not at the oficial names:

In [20]:
df1 = data_nrw_clean[~data_nrw_clean['result_buyer_town'].isin(oficial_names)]
df1.result_buyer_town.unique()

array([nan, 'warburg-scherfede', 'froendenberg', 'osnabrueck',
       'dillenburg', 'berlin', 'schhwelm',
       'euv stadtbetrieb castrop-rauxel aoer', 'bergisch-gladbach',
       'bergsich gladbach', 'hennef', 'langenfeld', 'leichlingen',
       'troisdorf-sieglar', 'swisttal-miel', 'bruehl-ost', 'bielefdeld',
       'gronau', 'delbrueck-westenholz', 'sundern', 'stolberg',
       'stolbeerg', 'nettersheim-zingsheim', 'uebach palenberg',
       'stadt pulheim'], dtype=object)

In [21]:
#using the function I created above
print_full(oficial_names)

299                      aachen
260                       ahaus
5                         ahlen
327                  aldenhoven
355                      alfter
242                       alpen
288                     alsdorf
237                      altena
70                   altenbeken
313                  altenberge
175                   anroechte
97                     arnsberg
387                   ascheberg
12                    attendorn
132                  augustdorf
189               bad berleburg
277                 bad driburg
66                   bad honnef
363                 bad laasphe
254             bad lippspringe
164           bad muenstereifel
94               bad oeynhausen
265               bad salzuflen
110              bad sassendorf
96              bad wuennenberg
40                   baesweiler
361                       balve
234                    barntrup
48                       beckum
153                     bedburg
323                 bedburg-hau
91                       beelen
197                    bergheim
218           bergisch gladbach
381                   bergkamen
245                bergneustadt
295                     bestwig
69                   beverungen
185                   bielefeld
115                  billerbeck
154                 blankenheim
235                    blomberg
372                     bocholt
222                      bochum
382                      boenen
178                        bonn
50                      borchen
378                borgentreich
7                borgholzhausen
291                      borken
102                    bornheim
249                     bottrop
147                      brakel
267                 breckerfeld
136                      brilon
57                     brueggen
125                      bruehl
376                      buende
335                      bueren
269                     burbach
65                    burscheid
292              castrop-rauxel
88                     coesfeld
310                      dahlem
81                      datteln
95                    delbrueck
8                       detmold
325                   dinslaken
278                  doerentrup
100                    dormagen
89                      dorsten
174                    dortmund
261               drensteinfurt
238                  drolshagen
104                     duelmen
272                      dueren
306                 duesseldorf
138                    duisburg
165                      eitorf
143                     elsdorf
149           emmerich am rhein
155                   emsdetten
17                engelskirchen
264                       enger
134                   ennepetal
304                  ennigerloh
148                        ense
41                    erftstadt
369                    erkelenz
0                       erkrath
52                 erndtebrueck
348                     erwitte
179                  eschweiler
296          eslohe (sauerland)
334                   espelkamp
351                       essen
198                  euskirchen
233                 everswinkel
210                    extertal
27                   finnentrop
230                     frechen
53                  freudenberg
37            froendenberg/ruhr
43                      gangelt
31                geilenkirchen
284                     geldern
80                gelsenkirchen
302                     gescher
395                      geseke
135                  gevelsberg
4                      gladbeck
285                        goch
152                    grefrath
21                       greven
56                 grevenbroich
220             gronau (westf.)
389                  guetersloh
44                  gummersbach
191                        haan
212                       hagen
358              halle (westf.)
224                  hallenberg
34               haltern am see
362                      halver
118                        hamm
258                  hamminkeln
263                 harsewinkel
109                   hattingen
373                   havixbeck
274                        heek
166                      heiden
241                heiligenhaus
2                      heimbach
62                    heinsberg
61                   hellenthal
225                       hemer
289               hennef (sieg)
223                    herdecke
221                     herford
187                       herne
85                    herscheid
204                      herten
92          herzebrock-clarholz
326                herzogenrath
157                hiddenhausen
319                 hilchenbach
75                       hilden
83                        hille
146                    hoerstel
173                   hoevelhof
345                     hoexter
321                 holzwickede
183                     hopsten
9             horn-bad meinberg
374                    horstmar
354                hueckelhoven
231                hueckeswagen
347                  huellhorst
307                      huenxe
59                 huertgenwald
42                       huerth
303                 ibbenbueren
101                       inden
120                    iserlohn
356                   isselburg
121                       issum
162                     juechen
180                     juelich
14                       kaarst
161                      kalkar
273                        kall
317                    kalletal
297                       kamen
39                kamp-lintfort
1                        kempen
38                       kerken
353                      kerpen
366                    kevelaer
393                     kierspe
188                 kirchhundem
116                kirchlengern
74                        kleve
340                       koeln
79                koenigswinter
86               korschenbroich
55                   kranenburg
98                      krefeld
124                     kreuzau
159                    kreuztal
328                     kuerten
206                   ladbergen
314                        laer
252                        lage
316                  langenberg
177          langenfeld (rhld.)
3                    langerwehe
32                       legden
129         leichlingen (rhld.)
294                       lemgo
207                   lengerich
213                  lennestadt
279               leopoldshoehe
367                  leverkusen
117                   lichtenau
22                       lienen
246                     lindlar
142                     linnich
190                    lippetal
349                   lippstadt
377                      loehne
103                      lohmar
184                       lotte
10                    luebbecke
255                luedenscheid
388               luedinghausen
359                      luegde
283                      luenen
77                  marienheide
82               marienmuenster
167                        marl
236                    marsberg
214                  mechernich
200                  meckenheim
392                    medebach
29                    meerbusch
394                meinerzhagen
35           menden (sauerland)
244                   merzenich
84                     meschede
275                     metelen
332                   mettingen
192                    mettmann
391                      minden
36                    moehnesee
54             moenchengladbach
308                       moers
112            monheim am rhein
195                    monschau
301                    morsbach
341                        much
365        muelheim an der ruhr
312                    muenster
380       nachrodt-wiblingwerde
160                     netphen
300                 nettersheim
141                    nettetal
168                neuenkirchen
268                   neuenrade
15             neukirchen-vluyn
256                 neunkirchen
248      neunkirchen-seelscheid
228                       neuss
384                    nideggen
290                niederkassel
193             niederkruechten
309                  niederzier
346                     nieheim
196                  noervenich
330                 nordkirchen
276                   nordwalde
105                     nottuln
127                  nuembrecht
139                  oberhausen
156                     ochtrup
371                    odenthal
131                       oelde
205            oer-erkenschwick
211               oerlinghausen
203                       olfen
71                         olpe
282                     olsberg
315                   ostbevern
18                      overath
11                    paderborn
253                 petershagen
158                 plettenberg
24             porta westfalica
133         preußisch oldendorf
385                     pulheim
64                 radevormwald
181                    raesfeld
280                      rahden
227                    ratingen
107                       recke
106              recklinghausen
339                        rees
128                   reichshof
386                       reken
140                   remscheid
68           rheda-wiedenbrueck
130                       rhede
144                   rheinbach
113                   rheinberg
169                      rheine
324                     rheurdt
375                    rietberg
344               roedinghausen
219                    roesrath
352                     roetgen
151              rommerskirchen
331                   rosendahl
338                     ruethen
201               ruppichteroth
170                    saerbeck
108                  salzkotten
342              sankt augustin
305                  sassenberg
337               schalksmuehle
194                  schermbeck
318       schieder-schwalenberg
186                   schlangen
30                    schleiden
333    schloß holte-stukenbrock
51                schmallenberg
114                schoeppingen
298                  schwalmtal
119                     schwelm
322                    schwerte
311                    selfkant
137                        selm
182                      senden
343                 sendenhorst
46                     siegburg
72                       siegen
76                    simmerath
320                       soest
176                    solingen
287                    sonsbeck
172                      spenge
25                 sprockhoevel
47                    stadtlohn
232                   steinfurt
208                  steinhagen
93                    steinheim
266                    stemwede
368            stolberg (rhld.)
286                    straelen
145                    suedlohn
336         sundern (sauerland)
19                     swisttal
67                  tecklenburg
6                        telgte
60                         titz
229                 toenisvorst
202                   troisdorf
199            uebach-palenberg
257                       uedem
240                        unna
28                      velbert
357                       velen
209                        verl
49                     versmold
259                    vettweiß
270                     viersen
390                      vlotho
271        voerde (niederrhein)
33                       vreden
329                   wachtberg
122                 wachtendonk
250                   wadersloh
45                    waldbroel
63                   waldfeucht
20                      waltrop
251                     warburg
262                   warendorf
350                    warstein
216                  wassenberg
150                       weeze
370                     wegberg
126                 weilerswist
364                      welver
13                       wenden
26                      werdohl
226                        werl
78               wermelskirchen
383                       werne
293            werther (westf.)
163                       wesel
16                    wesseling
90                westerkappeln
281               wetter (ruhr)
171                  wettringen
73               wickede (ruhr)
217                       wiehl
23                willebadessen
123                     willich
239                   wilnsdorf
87                      windeck
379                  winterberg
247                wipperfuerth
360                      witten
99                    wuelfrath
58                    wuerselen
111                   wuppertal
243                      xanten
215                    zuelpich
Name: gemeinde_name_short_, dtype: object

In [23]:
dict_new_changes = {'warburg-scherfede' : 'warburg', 
                    'froendenberg$' : 'froendenberg/ruhr',
                    'schhwelm' : 'schwelm',
                    'stadt pulheim' : 'pulheim',
                    'emmerich$':'emmerich am rhein', 
                    'euv stadtbetrieb castrop-rauxel aoer' :'castrop-rauxel',
                    'bergisch-gladbach' : 'bergisch gladbach',
                    'bergsich gladbach' : 'bergisch gladbach',
                    'hennef$' : 'hennef (sieg)',
                    'langenfeld' : 'langenfeld (rhld.)',
                    'leichlingen' : 'leichlingen (rhld.)',
                    'troisdorf-sieglar' : 'troisdorf',
                    'swisttal-miel' : 'swisttal',
                    'bruehl-ost' : 'bruehl',
                    'bielefdeld': 'bielefeld',
                    'gronau$' : 'gronau (westf.)',
                    'delbrueck-westenholz': 'delbrueck',
                    'sundern' : 'sundern (sauerland)',
                    'stolberg' : 'stolberg (rhld.)',
                    'stolbeerg' : 'stolberg (rhld.)',
                    'nettersheim-zingsheim': 'nettersheim',
                    'uebach palenberg' : 'uebach-palenberg'}



#list of municipalities that don't belong to NRW:
rem = ['osnabrueck', 'dillenburg', 'berlin' ]

#cleaning:
data_nrw_clean.replace({'result_buyer_town': dict_new_changes }, regex = True, inplace = True)

#removing:
data_nrw_clean = data_nrw_clean[~data_nrw_clean['result_buyer_town'].isin(rem)]


# cheking again non-matching names:
df1 = oficial_names[~data_nrw_clean['result_buyer_town'].isin(oficial_names)]
df1.result_buyer_town.unique()

C:\Users\yvfg3118\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

AttributeError: 'Series' object has no attribute 'result_buyer_town'

Ok, now all the names are the correct speling names. Let's save this clean DB

In [ ]:
data_nrw_clean.to_csv('cleaned_df_vergabe_nrw_jan2021.csv')

### This is the DF that we are going to work from now on!

### 4.1 What cities are missing?

In [ ]:
cities_with_information = data_nrw_clean['result_buyer_town'].sort_values(ascending=True)
cities_with_information = cities_with_information.unique()

df_missing = stadt_nrw_oficial[~stadt_nrw_oficial['gemeinde_name_short_'].isin(cities_with_information)]
missing_cities = df_missing.gemeinde_name_short_.unique()

In [ ]:
len(missing_cities) #181
len(oficial_names) #396
len(cities_with_information) #216 = 215 cities + nan (empty spaces)

**Conclusion**

So, we have information over 215 cities and 181 cities are missing. The list of the missing cities is shown bellow. A follow-up question: does this cities have something in common ? Or are they not procuring?

In [ ]:
 missing_cities

In [ ]:
missing_cities = pd.DataFrame(missing_cities)
missing_cities.to_csv('missing_cities.csv')

In [ ]:
data_nrw_clean['result_buyer_town'].isna().sum()

We have 10,930 entries with no information regarding buyer town. Let's take a look on it

In [ ]:
glimpse(stadt_nrw_oficial)

In [ ]:
glimpse(data_nrw_clean)

In [ ]:
#removing the naresult_id values
data_nrw_clean = data_nrw_clean[data_nrw_clean.result_id.notnull()]

In [ ]:
data_nrw_clean.to_csv('cleaned_df_vergabe_nrw_jan2021.csv')

### THIS IS OUR DF RIGHT NOW ^^^^^^^^^^^^^^^^

**Finding** 

Mara just checked 'kalkar' and this city is publishing at their own website and at the on service.bund.de . We need to check if other municipalities are also publishing there!

## 5.Is there any information regarding costs? Are the derzeitige Werten (valores correntes)?


We have just one column that mention value ( `result_value` ) and this column has 97% of Nans considering already non-nan `result_id` . Let's see how this column looks like when we have the values:

In [24]:
pd.read_csv('cleaned_df_vergabe_nrw_jan2021.csv')

C:\Users\yvfg3118\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,_id,created_at,updated_at,result_id,result_title,result_description,result_procedure_type,result_order_type,result_publication_date,...,result_buyer_postal_code,result_seller_name,result_seller_town,result_seller_country,result_geo_lon,result_geo_lat,result_value,result_created_at,result_updated_at,result_buyer_country
278,278,CXPNY4ZDEGR,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,CXPNY4ZDEGR,Tätigkeiten des Anstaltseinkaufs für die Gefan...,[],NaN,NaN,NaN,...,45883,Massak Logistik GmbH,Litzendorf,DE,7.05682,51.51370,1780000.0,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,DE
376,376,CXPNY56DBCU,2021-06-03T22:20:49.151Z,2021-12-01T23:19:01.690Z,CXPNY56DBCU,UHV-LTSPM,[],NaN,NaN,NaN,...,57076,Scienta Omicron GmbH,Taunusstein,DE,8.02590,50.91232,1.0,2021-06-03T22:20:49.151Z,2021-12-01T23:19:01.690Z,DE
378,378,CXPNY56DBQB,2021-07-03T22:19:45.197Z,2022-01-01T23:21:09.095Z,CXPNY56DBQB,Konfokales-Laser-Scanning-Mikroskop,[],NaN,NaN,NaN,...,57076,Carl Zeiss Microscopy Deutschland GmbH,Oberkochen,DE,8.02590,50.91232,1.0,2021-07-03T22:19:45.197Z,2022-01-01T23:21:09.095Z,DE
381,381,CXPNY56DBVJ,2021-07-15T22:01:08.167Z,2022-01-06T23:00:58.761Z,CXPNY56DBVJ,Lasersystems zur Kühlung gemischter Ionenkrist...,[],NaN,NaN,NaN,...,57076,Toptica Photonics AG,Gräfelfing,DE,8.02590,50.91232,1.0,2021-07-15T22:01:08.167Z,2022-01-06T23:00:58.761Z,DE

In [47]:
non_empy_value = data_nrw_clean[data_nrw_clean.result_value.notnull()]
non_empy_value[1:5]

,Unnamed: 0,_id,created_at,updated_at,result_id,result_title,result_description,result_procedure_type,result_order_type,result_publication_date,...,result_buyer_postal_code,result_seller_name,result_seller_town,result_seller_country,result_geo_lon,result_geo_lat,result_value,result_created_at,result_updated_at,result_buyer_country
278,278,CXPNY4ZDEGR,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,CXPNY4ZDEGR,Tätigkeiten des Anstaltseinkaufs für die Gefan...,[],NaN,NaN,NaN,...,45883,Massak Logistik GmbH,Litzendorf,DE,7.05682,51.51370,1780000.0,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,DE
376,376,CXPNY56DBCU,2021-06-03T22:20:49.151Z,2021-12-01T23:19:01.690Z,CXPNY56DBCU,UHV-LTSPM,[],NaN,NaN,NaN,...,57076,Scienta Omicron GmbH,Taunusstein,DE,8.02590,50.91232,1.0,2021-06-03T22:20:49.151Z,2021-12-01T23:19:01.690Z,DE
378,378,CXPNY56DBQB,2021-07-03T22:19:45.197Z,2022-01-01T23:21:09.095Z,CXPNY56DBQB,Konfokales-Laser-Scanning-Mikroskop,[],NaN,NaN,NaN,...,57076,Carl Zeiss Microscopy Deutschland GmbH,Oberkochen,DE,8.02590,50.91232,1.0,2021-07-03T22:19:45.197Z,2022-01-01T23:21:09.095Z,DE
381,381,CXPNY56DBVJ,2021-07-15T22:01:08.167Z,2022-01-06T23:00:58.761Z,CXPNY56DBVJ,Lasersystems zur Kühlung gemischter Ionenkrist...,[],NaN,NaN,NaN,...,57076,Toptica Photonics AG,Gräfelfing,DE,8.02590,50.91232,1.0,2021-07-15T22:01:08.167Z,2022-01-06T23:00:58.761Z,DE

In [48]:
non_empy_value.shape

(1436, 24)

Only 1436 values are non-nan

In [49]:
values = non_empy_value.result_value
values.dtypes # dtype('float64')

print('minimum value:', min(values), ' | max value', max(values))

minimum value: 0.01  | max value 65980783.07

In [27]:
#median:
values.median()

284478.1

In [28]:
print_full(values)

75              1.00
278       1780000.00
376             1.00
378             1.00
381             1.00
416             1.00
465             0.01
478             0.01
511        757479.07
582        429627.88
614             1.00
616             1.00
668           100.00
684        698873.25
685             0.01
763        270300.00
764        355750.00
770             1.00
775        810000.00
869        269811.80
874        259400.00
902        209490.00
903        246000.00
906        350000.00
945        535000.00
1058       546175.64
1069       492000.00
1259            2.00
1261            1.00
1276       609591.00
1277       173259.80
1282       289482.00
1313       445278.00
1324       652800.00
1340       756302.52
1358       200000.00
1368            1.00
1405            1.00
1406            1.00
1441            1.00
1443            1.00
1460            1.00
1467            1.00
1498      3200000.00
1508       750000.00
1568       605058.97
1662      7500000.00
1722       684000.00
1723     20394000.00
1815       578800.00
1843       205720.00
1856       255100.00
1858       595359.82
1859        54500.00
1861       420154.03
1862       357280.00
1882            0.01
1896       409065.22
1930        64760.80
1931       591809.10
1932        95045.00
1933      1032819.00
1934       274441.00
1935        62067.00
1940       613000.00
1943       412776.60
1944      1366678.34
1948       756562.56
1952      8263000.00
1955        48654.50
1957       164094.00
1958       814325.79
1961       578471.34
2115       946297.81
2116       480160.54
2117       102528.31
2131      1033242.00
2136       547751.93
2142      4589833.70
2145       112686.50
2146      3552457.19
2147      3156291.27
2149       270000.00
2310       135405.60
2324       509521.84
2338       285560.09
2340       502279.50
2341       257797.55
2456       280510.00
2479       318407.76
2485       631887.50
2487       236782.22
2495            0.01
2499       285972.00
2533            1.00
2537       603673.93
2538            1.00
2539            1.00
2540            1.00
2561            1.00
2592            1.00
2593            1.00
2594            1.00
2606            1.00
2644          130.00
2645          130.00
2646       301596.65
2745       707000.00
2746       261277.00
2749       468000.00
2802      1868553.95
2836     16000000.00
2839       700000.00
2891      7500000.00
2892       508309.00
2895       400000.00
2974      2000000.00
2978      1609000.00
3444       700000.00
3449      1063608.00
3496          100.00
3503       700000.00
3505        83220.00
3549       360000.00
3553     38049155.00
3554     12823200.00
3574            1.00
3627       217932.32
3632       523445.20
3641       697901.63
3642       475564.25
3646       550000.00
3839       159460.00
3845      1366120.00
3857      3488567.20
3866       302543.50
3937       510000.00
3950       270629.80
4132      1573503.30
4134       149432.00
4141       294418.00
4229            1.00
4239            1.00
4242            1.00
4243            1.00
4312       345000.00
4331       405598.20
4503       672000.00
4505          100.00
4581            1.00
4582            1.00
4583            1.00
4584            1.00
4585            1.00
4592            1.00
4593            1.00
4594            1.00
4702        71492.54
5153      3504546.51
5267       435000.00
5322       316000.00
5375        45030.00
5453       210600.00
5462       497522.47
5520       560091.10
5548            1.00
5569       276500.00
5735       250000.00
5785      4823601.21
5791       660085.20
5838       294164.00
5842      4582613.76
5847       274450.00
5848       249900.00
5854      3588235.29
5864      1320000.00
5867       174134.57
6487     31000000.00
6496      2500000.00
6522       415849.00
6543      1423940.99
6566      1000000.00
6592      1679475.00
6619      1930000.00
6621     15827206.31
6622      2503671.37
6634      9593429.40
6640      5753601.21
6651      5503556.76
6663      1616518.28
6894     12829820.89
7583       400000.00
7584     17850000.00
7611       300000.00
7681      4390000.00
7686        95569.00
7687      1500000.00
7688      1108465.00
7689       203000.00
7715      3827957.72
7716       207000.00
7723      1761000.00
7747      1862800.49
7757        58524.60
7801            0.01
7808            0.01
7826            0.01
7827            0.01
7828            0.01
7835      5864723.81
7839            0.01
7844            0.01
7847       383280.00
7887        58733.64
7893            0.01
7905            0.01
7911            0.01
7912            0.01
7944            0.01
7956       299000.00
7959            0.01
8244       814310.00
8256        22643.39
8262       276000.00
8269        49387.64
8270       204691.19
8271      2416565.45
8273       557631.00
8274       384739.34
8275        22010.00
8276       112694.50
8277       214800.00
8278        63116.33
8284       202673.80
8287        21056.00
8288       664178.25
8289        37088.00
8290       553489.00
8305       743400.00
8328       219990.31
8330        91849.00
8331        36521.24
8392       267461.00
8416       397152.00
8417        84177.00
8426       133930.76
8427        40431.53
8430       370937.00
8433       214266.00
8434        50716.00
8595       200000.00
8744     13306701.00
8746       919000.00
8755       228319.78
8756       393094.35
8767       344799.00
8768       224882.66
8772       174577.00
8792       193349.10
8824      1005300.00
8840       151134.14
8848       164685.37
8980      1135898.03
9063            0.01
9156       410955.00
9164       776700.00
9173      1204650.00
9174      4506525.00
9175      1427035.00
9176       803750.00
9177       279800.00
9178       253400.00
9179       399090.00
9180       272440.00
9183       240000.00
9185       231000.00
9188         8131.34
9189       231600.00
9190       209830.00
9243      2518075.53
9244       506000.00
9246         9130.04
9268       716200.00
9269     11911808.00
9291       467000.00
9292       820680.00
9293      2136068.32
9295     10488585.00
9300       275000.00
9301       240000.00
9312       674897.05
9548       533000.00
9550       549540.95
9555      1347766.97
9803       174600.00
9807      1671366.31
9808      2106367.10
9813      1202968.80
9821      8993910.20
9828       323989.40
9839      1151386.03
9848        96403.99
9878       240000.00
9890       400787.90
9892       207737.00
9904       412768.90
10165           1.00
10199       54887.30
10234     1893453.84
10832           1.00
10834           1.00
10868     9903311.42
10872       93173.50
10873      233043.21
10875      214022.20
10876      309366.24
10877     1413951.00
10878      310499.65
10879      150716.00
10881      392939.00
10887     1357005.67
10888      473054.40
10889      994860.65
10890      103255.80
10891      423600.00
10892      389460.03
10896      265124.00
10951     1023864.00
11074      885255.84
11076     3697500.00
11078      579360.00
11084      385000.00
11101      447500.00
11654      449962.00
11656      617560.00
11657      201656.88
11660       56011.53
11662       23066.00
11663      242986.69
11677      166340.61
11679      158166.00
11680      451777.00
11681       26522.67
11683      362000.00
11686       67895.38
11704     3781784.19
11710     2056925.00
11712     2191100.61
11713      386888.00
11783      115876.00
11789     1674367.00
11807      346870.00
11817     2689894.35
11820      113644.50
11833      115408.00
11839      238891.60
11844     4999778.41
11845      654057.12
11851      362199.00
11853      255570.24
11876     1462510.00
11880      502826.90
11888     1842419.86
11892      920927.04
11896      337000.00
11897      172253.20
11901      159300.40
11902      144468.00
11905       89203.00
11907      409116.00
11909      349090.00
11911     1880513.00
11912      133405.00
11913       50834.00
11918      295538.44
11924      226890.00
11934      331761.66
11940      354400.00
11944       41472.36
11948      818625.00
11951       91941.00
12175     5564387.43
12186      223744.34
12239     3362978.52
12240       84870.00
12241     5101900.69
12528      193875.00
12590      218875.69
12611      284373.40
12612      340975.00
12615      333255.09
12880           1.00
12909           1.00
12910           1.00
12911           1.00
12912           1.00
13008      486000.00
13021     6580702.60
13022           0.01
13023           0.01
13040           1.00
13064      565155.48
13065      817050.00
13070      365400.00
13245           0.01
13256           0.01
13258           0.01
13308     7870418.72
13309      444352.94
13435      443909.00
13436      514460.00
13486      251000.00
13487      361749.64
13494      474234.60
13515      393202.00
13640     1805456.00
13660      228853.00
13662     2247746.00
13667      114469.80
13795      160771.00
13796       91208.00
13930       30755.19
13938      104558.00
13939      674236.00
13940      226876.00
13955      138548.91
13990      247272.77
13991      437145.31
13993      115581.42
13994       58522.16
13995     1342340.82
14007       64710.30
14013     1100274.00
14021      425160.75
14036      156851.50
14037       86528.50
14038      164270.00
14039      678291.90
14040      264251.16
14041      106453.47
14043      144655.64
14176           0.01
14228     2247341.11
14486      146790.40
14489      131501.00
14491      213269.00
14508      618242.66
14514      270050.00
14515      268780.00
14521       34417.01
14551      144433.13
14562      292078.00
14563     2090251.29
14611       49158.42
14613     1032953.71
14631       50375.00
14632     1135870.26
14639      845925.55
14640       13523.03
14641      171307.00
14655      573379.71
14657       29475.90
14660      102530.94
14661        7947.71
14663       25828.53
14664        5771.80
14666       76500.00
14668       34575.46
14669       29475.90
14670       28028.44
14682     1019715.40
14686      585553.48
14688      159134.29
14693       81265.00
14698    13170786.22
14707     3689268.58
14714      473283.00
14719       81012.60
14720       59527.97
14722        9632.54
14723      117399.21
14725       25186.00
14726       42440.00
14728      161850.00
14737      118220.72
14738     1211422.40
14750       21637.57
14751      115901.91
14753      127007.18
14754      319327.87
14756      722742.87
14914      800850.00
14976       22000.00
14977     7402805.00
14978       34000.00
14979     7402805.00
14980      110000.00
14981       22000.00
14982       25000.00
14983       57000.00
14985      134443.04
15312      196450.00
15313      815707.70
15318      933000.00
15320      259418.88
15497      147539.50
15506      354939.00
15585      383186.75
15587      750000.00
15652      303832.00
15671     1002368.71
15718      462963.54
15826      230777.03
15827       57500.00
15829      214813.09
15891      336722.40
15986    23000000.00
16119      277999.36
16340      490559.00
16477      751079.50
16529     7272026.00
16590      624045.06
16592      349115.60
16596      328759.96
16671      720000.00
16720      731350.00
16721      115100.00
16983      241028.04
16989     3658037.00
17031     1033200.00
17032      214248.75
17033      101967.87
17034     1083578.21
17035      432924.52
17036       87813.00
17037      117234.75
17038       80500.50
17044      279412.75
17045      113052.15
17055      242684.00
17056       84784.00
17069      116150.80
17070      289284.75
17099      384814.14
17112      187215.00
17260     1115475.00
17261     5640147.00
17262     4069130.00
17263     1249248.00
17274           1.00
17278      368612.87
17296      137970.00
17297      249554.81
17313      596359.66
17315     1558214.32
17316       62905.17
17317      256822.56
17453           1.00
17467     7770513.00
17579      260415.00
17589      540000.00
17612      310285.00
17614      400000.00
17868      128626.20
17869      180469.25
17870      140250.74
17881       78386.42
17884      147179.87
17892      543876.16
17900       27592.53
17902      396565.25
17914      711476.27
17916       19129.74
17922     2000000.00
17947       93298.38
17948      351159.52
17951      118781.50
17952     1042011.23
17954       69366.84
17957      376423.04
17962      133401.11
17963       80430.42
17966       25643.72
17967      151105.41
17969      564025.63
17970       38630.50
17972       38566.00
17977       27448.30
17978       93680.13
17981           1.00
17984     1242276.00
17986      517648.24
17987      779054.67
17989      307591.84
17991      663572.96
17993       61403.00
17995      132016.70
17997        1001.00
18019      577451.01
18020       25149.00
18095     8266046.67
18198      206346.00
18261      451000.00
18422           0.01
18428      228539.75
18429       22320.00
18432      154355.50
18437      375228.00
18439     1108601.00
18441      231605.99
18443           0.01
18446           0.01
18455     1197311.08
18460      300558.86
18510       12934.20
18512      125364.00
18530      407617.47
18545       83785.52
18546      825384.19
18802      234393.36
18804      159889.00
18832      179529.29
18833      546857.00
18906           0.01
18921           0.01
18924           0.01
18936           0.01
18937           0.04
18943           1.00
18968           0.01
18974           0.01
18975           0.01
18978           0.01
18988     1980000.00
18996           0.04
19000           0.01
19001           0.01
19007           0.05
19088           0.01
19138           0.01
19139           0.01
19143           0.01
19144           0.01
19147           0.01
19148           0.01
19264           0.01
19321           0.01
19322           0.01
19323           0.01
19324           0.01
19327           0.01
19330           0.01
19333           0.01
19334           0.01
19335           0.01
19344           0.01
19346           0.01
19372           0.01
19448           0.01
19449           0.01
19450           0.01
19451           0.01
19452           0.01
19453           0.01
19454           0.01
19456           0.01
19458           0.01
19544           0.01
19618           0.01
19620           0.01
19621      132684.00
19838     3571428.57
19840      712300.00
19881      342345.00
19882      356651.15
20025           0.01
20026           0.01
20028           0.01
20172      220440.87
20173      899856.76
20174      355595.00
20254      274000.00
20257      730000.00
20293      360000.00
20294       46000.00
20472      252082.47
20474      158042.40
20491           1.00
20502      218691.09
20506      511661.54
20508       44810.00
20531      300000.00
20535     1574780.00
20562      222588.67
20563       41230.34
20596      419166.00
20682      300493.11
20683      138000.00
20689     1177142.80
20754      596734.94
20966      414558.23
21168      638730.00
21178      468560.00
21475      115095.10
21526     1331457.85
21555      921828.00
21561    37341534.00
21564      639911.44
22602     2072059.77
22603       14335.93
22651      715270.27
22653      316183.00
22685     1683200.00
22686      504600.00
22693     3687500.00
22694      476400.00
22812     9362250.00
22944           1.00
23067           1.00
23082           1.00
23086     1767768.00
23098     7337560.55
23194      256147.60
23638      532228.00
23791           0.01
23834           1.00
23925      640334.00
23927     2631257.36
23928       14954.53
24053      294453.84
24054      306158.01
24055      289226.26
24056    22732555.00
24057      328406.07
24059      593642.00
24296     1536200.43
24297      174819.44
24344       92639.12
24391      380651.25
24541      347951.52
24553       50380.00
24555       27877.20
25122     7100955.93
25131      796379.00
25215       78760.00
25782      290000.00
25809      735000.00
25810     1181871.87
25811     1351451.73
25812     2014893.32
25813      745310.90
25814      335287.59
25815      503423.63
25870      250000.00
25919           0.01
25920           0.01
26256      826050.00
26292        1000.00
26509      255921.00
26826      251304.00
26837     4360000.00
27180      525437.11
27445      881912.94
27468     1779423.38
27479     1110806.89
27486      280506.80
27499      563274.00
27658       99440.00
27982      461214.00
28094           0.01
28103     9300000.00
28278      776000.00
28282      312000.00
28286      247900.00
28291      128008.00
28314     2591940.70
28433     1683497.00
28478      547169.98
28480       84764.77
28663      499971.36
28679      598621.00
28680      183333.00
29083     3921423.00
29133           0.01
29134     3148500.00
29135      476660.38
29136     1566550.00
29137     1164312.00
29138      589260.00
29139      744575.71
29140      730853.03
29141      718368.00
29165           0.01
29284      440025.00
29370      153657.21
29417      243610.18
29418       83000.00
29420        8256.61
29421       47084.97
29422       13530.76
29504       69776.39
29508      493758.29
29510     1999391.04
29511      806931.72
29518     1817100.75
29519      185405.17
29525        1859.78
29546      239929.50
29549     2347736.50
29554      980833.58
29577      282368.00
29708      651438.00
30018       30318.63
30019     1233237.50
30245           1.00
30274           1.00
30336      312573.16
30340     1236308.08
30341      874614.31
30344      232896.82
30347      153191.25
30348       26614.00
30350      300267.68
30351      135493.40
30352      340117.09
30362      498444.56
30366       82509.64
30368      501796.09
30370      299403.30
30371      295500.00
30372       51493.00
30373       58538.91
30376     2437624.74
30378      257486.05
30380       68579.00
30381      133334.00
30382      361694.00
30596      457785.93
30828     1796954.25
30830       58765.00
30852      222332.08
30940      124988.41
31046       28612.00
31097     1335883.00
31146      334280.20
31190      116884.00
31192      205630.20
31194     7199417.82
31198     1700058.39
31234      115546.00
31235       11859.30
31240       76372.95
31723       16311.00
31724      230192.25
31729      179492.03
31731     1038288.17
31732     2487940.05
31735      112951.00
31736     4529484.33
31738      631474.31
31767      244052.97
31768      208591.11
31769      849587.00
31927      116986.00
31929      133195.55
31930      409843.06
31931     1160839.56
31932      219846.00
31933      168934.53
32012      755066.90
32018    15062892.00
32019      432122.40
32026      377379.33
32029       54349.55
32030      233631.65
32032      455414.40
32036      194518.80
32043      263228.00
32044     4009566.57
32048      300646.83
32053      242369.99
32055     1771146.44
32056      885517.10
32063       85195.40
32066      288780.65
32067      149000.00
32069      306317.00
32073      291282.97
32074       26984.30
32084      100958.00
32087      133775.85
32088      211703.00
32090       86561.42
32092      813028.00
32149           0.01
32157           0.01
32173       67992.35
32176     1763980.00
32179      379718.10
32192     1093576.80
32198       82878.72
32201      196189.69
32211      225646.98
32212       16530.15
32230      538375.85
32235      196399.13
32244       61901.75
32246       64519.32
32247       17011.00
32250        8780.00
32252      361105.78
32276      110062.00
32295      483548.06
32298      269942.88
32303      732221.60
32304      426613.92
32305      324491.20
32306     5262175.08
32307       89819.72
32308      399832.96
32311       80694.00
32312      578099.65
32313     1171380.99
32318      235033.66
32320       11730.00
32683     3916083.72
33121      302000.00
33129    10876915.13
33168      474980.48
33179      193000.00
33217      440500.00
33218      289680.00
33226     3749898.41
33231       69546.50
33237      419607.44
33336      365530.00
33372      289500.00
33428      268690.00
33445           1.00
33478           1.00
33522      768434.58
33536      194810.76
33538       29980.74
33567      183150.00
33620      373904.22
33621     1343217.37
33625       53117.00
33627        8472.25
33645       37505.40
33647        3344.60
33652       15763.20
33673      921346.00

We have many cases with value == 1.00 or value == 0.01... let's check unporobable values:

In [29]:
df_values = pd.DataFrame({'values' : values})
df_values.value_counts()

values
0.01         131
1.00          77
0.10           5
700000.00      3
400000.00      3
            ...
587513.10      1
589260.00      1
591809.10      1
592314.68      1
355595.00      1
Length: 1201, dtype: int64

We have 131 entries with a 0.01 value, 77 with 1.00 value and 5 with 0.10 value.
Let's see with values <2, which

In [30]:
#df1 = non_empy_value.query("result_value < 2")
df1 = data_nrw_clean[['result_value', 'result_buyer_town']]
df1['valiable_value'] = np.where(df1['result_value'] < 2, '0', '1')
df1.drop("result_value", axis=1, inplace=True)
#print_full(df1.value_counts())
print_full(df1.value_counts())

result_buyer_town                valiable_value
aachen                           1                 2111
duesseldorf                      1                 2034
koeln                            1                 2007
muenster                         1                 1987
duisburg                         1                 1877
dortmund                         1                 1758
essen                            1                 1531
bielefeld                        1                 1448
bochum                           1                 1163
bonn                             1                 1080
gelsenkirchen                    1                 1057
recklinghausen                   1                  942
krefeld                          1                  681
unna                             1                  659
moenchengladbach                 1                  641
euskirchen                       1                  548
oberhausen                       1                  540
hagen                            1                  526
bergheim                         1                  526
heinsberg                        1                  505
leverkusen                       1                  429
hamm                             1                  416
luenen                           1                  355
castrop-rauxel                   1                  328
dueren                           1                  312
dorsten                          1                  311
ratingen                         1                  291
marl                             1                  290
bergisch gladbach                1                  274
siegburg                         1                  269
alsdorf                          1                  263
langenfeld (rhld.) (rhld.)       1                  229
erkelenz                         1                  227
coesfeld                         1                  224
baesweiler                       1                  198
schwerte                         1                  191
wuppertal                        1                  186
bruehl                           1                  186
stolberg (rhld.) (rhld.)         1                  185
huerth                           1                  183
willich                          1                  180
pulheim                          1                  173
lemgo                            1                  171
eschweiler                       1                  167
remscheid                        1                  166
iserlohn                         1                  155
monheim am rhein                 1                  154
heiligenhaus                     1                  151
gummersbach                      1                  149
meschede                         1                  146
selm                             1                  140
geilenkirchen                    1                  130
arnsberg                         1                  129
paderborn                        1                  126
steinfurt                        1                  124
herzogenrath                     1                  122
erkrath                          1                  114
hattingen                        1                  114
wuerselen                        1                  110
mettmann                         1                  110
wesseling                        1                  108
erftstadt                        1                  108
hennef (sieg)                    1                  106
siegen                           1                  105
borken                           1                  101
herne                            1                  100
ibbenbueren                      1                   95
troisdorf                        1                   90
rheine                           1                   89
witten                           1                   88
frechen                          1                   85
kaarst                           1                   84
kamen                            1                   84
korschenbroich                   1                   84
niederkassel                     1                   84
schwelm                          1                   82
kerpen                           1                   78
wesel                            1                   76
datteln                          1                   76
sankt augustin                   1                   75
hilden                           1                   72
rheinbach                        1                   71
wipperfuerth                     1                   70
bad honnef                       1                   69
niederzier                       1                   67
soest                            1                   65
wachtendonk                      1                   65
schleiden                        1                   64
werl                             1                   63
luedenscheid                     1                   62
netphen                          1                   56
geldern                          1                   55
buende                           1                   51
detmold                          1                   51
warendorf                        1                   50
emsdetten                        1                   48
ahaus                            1                   48
bornheim                         1                   47
hueckeswagen                     1                   47
eitorf                           1                   45
hemer                            1                   44
oelde                            1                   43
bocholt                          1                   43
lohmar                           1                   42
bergkamen                        1                   41
dahlem                           1                   40
bonn                             0                   40
juelich                          1                   38
waldfeucht                       1                   38
zuelpich                         1                   38
meckenheim                       1                   38
ennigerloh                       1                   37
selfkant                         1                   35
moers                            1                   35
ahlen                            1                   34
kall                             1                   34
muenster                         0                   32
radevormwald                     1                   32
werdohl                          1                   31
werne                            1                   30
wuelfrath                        1                   29
waltrop                          1                   28
stadtlohn                        1                   28
uebach-palenberg                 1                   28
beckum                           1                   27
marienheide                      1                   27
greven                           1                   26
windeck                          1                   26
bad driburg                      1                   26
balve                            1                   25
kreuzau                          1                   24
neunkirchen-seelscheid           1                   23
rosendahl                        1                   22
schmallenberg                    1                   20
monschau                         1                   20
weilerswist                      1                   20
siegburg                         0                   19
morsbach                         1                   19
muelheim an der ruhr             1                   18
gronau (westf.)                  1                   18
sundern (sauerland) (sauerland)  1                   18
bochum                           0                   17
horn-bad meinberg                1                   17
hueckelhoven                     1                   16
aachen                           0                   16
lengerich                        1                   16
recklinghausen                   0                   16
langerwehe                       1                   16
mechernich                       1                   16
hoevelhof                        1                   15
froendenberg/ruhr                1                   15
kuerten                          1                   15
kleve                            1                   15
wassenberg                       1                   14
holzwickede                      1                   13
oer-erkenschwick                 1                   13
vreden                           1                   12
roesrath                         1                   12
velen                            1                   11
duisburg                         0                   11
haltern am see                   1                   10
duesseldorf                      0                    9
neuss                            1                    9
burscheid                        1                    9
essen                            0                    9
bergneustadt                     1                    9
bad muenstereifel                1                    9
ascheberg                        1                    9
ruppichteroth                    1                    8
hilchenbach                      1                    8
nuembrecht                       1                    8
delbrueck                        1                    7
borgentreich                     1                    7
siegen                           0                    6
heiden                           1                    6
halver                           1                    6
kierspe                          1                    6
wettringen                       1                    6
swisttal                         1                    5
isselburg                        1                    5
meinerzhagen                     1                    5
herford                          1                    5
brilon                           1                    4
boenen                           1                    4
blankenheim                      1                    4
heimbach                         1                    4
attendorn                        1                    4
plettenberg                      1                    4
nettersheim                      1                    4
leichlingen (rhld.) (rhld.)      1                    3
minden                           1                    3
herne                            0                    3
recke                            1                    3
ratingen                         0                    3
suedlohn                         1                    3
billerbeck                       1                    3
sankt augustin                   0                    3
marl                             0                    3
horstmar                         1                    3
solingen                         1                    3
noervenich                       0                    3
arnsberg                         0                    3
titz                             1                    3
lemgo                            0                    2
remscheid                        0                    2
schermbeck                       1                    2
bielefeld                        0                    2
koeln                            0                    2
lienen                           1                    2
merzenich                        1                    2
emmerich am rhein                1                    2
bergheim                         0                    1
telgte                           1                    1
troisdorf                        0                    1
westerkappeln                    1                    1
simmerath                        1                    1
uebach-palenberg                 0                    1
herscheid                        1                    1
langenfeld (rhld.) (rhld.)       0                    1
viersen                          1                    1
hoerstel                         1                    1
krefeld                          0                    1
wadersloh                        1                    1
warburg                          1                    1
mettingen                        1                    1
selm                             0                    1
linnich                          1                    1
metelen                          1                    1
everswinkel                      1                    1
nettetal                         1                    1
neuenkirchen                     1                    1
niederzier                       0                    1
nottuln                          1                    1
gronau (westf.)                  0                    1
oberhausen                       0                    1
lippstadt                        1                    1
olpe                             1                    1
olsberg                          1                    1
saerbeck                         1                    1
dueren                           0                    1
dortmund                         0                    1
heiligenhaus                     0                    1
rhede                            1                    1
coesfeld                         0                    1
rheurdt                          1                    1
leverkusen                       0                    1
heinsberg                        0                    1
gangelt                          1                    1
bottrop                          1                    1
leichlingen (rhld.) (rhld.)      0                    1
dtype: int64

<ipython-input-30-28039418f10f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['valiable_value'] = np.where(df1['result_value'] < 2, '0', '1')
C:\Users\yvfg3118\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [31]:
1436 - 131 -77 -5

1223

So far, it looks that have or not a value looks random

In [32]:
data_nrw_clean.shape

(47491, 24)

In [33]:
glimpse(data_nrw_clean)

Shape:  (47491, 24)
Unnamed: 0               int64        0 (0%) NAs : 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
_id                      object       0 (0%) NAs : CXPNY42D0ZS, CXPNY42D474, CXPNY42D4QL, CXPNY42DR40, CXPNY42
created_at               object       0 (0%) NAs : 2022-01-04T23:00:18.455Z, 2021-05-26T22:20:10.194Z, 2021-05
updated_at               object       0 (0%) NAs : 2022-01-06T23:00:14.633Z, 2021-06-08T22:19:38.411Z, 2021-05
result_id                object  10930 (23%) NAs : CXPNY42D0ZS, nan, nan, nan, CXPNY42DRDN, nan, CXPNY42YT80,
result_title             object  11461 (24%) NAs : Öffnen/Verschließen von Türen/Toren aller Art im Wege der E
result_description       object  10930 (23%) NAs : ['Schüsseldienste kamen im Kalenderjahr 2021 zu insgesamt 4
result_procedure_type    object  13551 (29%) NAs : Öffentliche Ausschreibung, nan, nan, nan, Öffentliche Aussc
result_order_type        object  13551 (29%) NAs : UVGO, nan, nan, nan, UVGO, nan, OTHER, nan, UVGO, UVGO
result_publication_date  object  36818 (78%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_cpv_codes         object  10930 (23%) NAs : ['75131000-3', '75240000-0'], nan, nan, nan, ['75131000-3']
result_buyer_name        object  10930 (23%) NAs : Polizeipräsidium Dortmund - ZA 13.1 - Zentrale Vergabestell
result_buyer_address     object  10939 (23%) NAs : Markgrafenstraße 102, nan, nan, nan, Markgrafebstraße 102,
result_buyer_town        object  10930 (23%) NAs : dortmund, nan, nan, nan, dortmund, nan, dortmund, dortmund,
result_buyer_postal_code object  10936 (23%) NAs : 44139, nan, nan, nan, 44139, nan, 44139, 44139, 44608, 4460
result_seller_name       object  46031 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_seller_town       object  46031 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_seller_country    object  46031 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_geo_lon           float64 10930 (23%) NAs : 7.46023, nan, nan, nan, 7.46023, nan, 7.46023, 7.46023, 8.0
result_geo_lat           float64 10930 (23%) NAs : 51.49958, nan, nan, nan, 51.49958, nan, 51.49958, 51.49958,
result_value             float64 46055 (97%) NAs : nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
result_created_at        object       0 (0%) NAs : 2022-01-04T23:00:18.455Z, 2021-05-26T22:20:10.194Z, 2021-05
result_updated_at        object       0 (0%) NAs : 2022-01-06T23:00:14.633Z, 2021-06-08T22:19:38.411Z, 2021-05
result_buyer_country     object  44870 (94%) NAs : nan, nan, nan, nan, nan, nan, nan, DE, nan, nan

In [34]:
data_nrw_clean.query('result_id == "CXPNY4ZDEGR"')

,Unnamed: 0,_id,created_at,updated_at,result_id,result_title,result_description,result_procedure_type,result_order_type,result_publication_date,...,result_buyer_postal_code,result_seller_name,result_seller_town,result_seller_country,result_geo_lon,result_geo_lat,result_value,result_created_at,result_updated_at,result_buyer_country
278,278,CXPNY4ZDEGR,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,CXPNY4ZDEGR,Tätigkeiten des Anstaltseinkaufs für die Gefan...,[],NaN,NaN,NaN,...,45883,Massak Logistik GmbH,Litzendorf,DE,7.05682,51.5137,1780000.0,2021-09-30T22:15:52.558Z,2022-01-05T23:14:12.346Z,DE

In [35]:
data_nrw_clean['result_buyer_town'].value_counts()

aachen         2127
duesseldorf    2043
muenster       2019
koeln          2009
duisburg       1888
               ...
olsberg           1
rheurdt           1
rhede             1
everswinkel       1
mettingen         1
Name: result_buyer_town, Length: 215, dtype: int64

In [39]:
data_nrw_clean['result_description'].unique()

array(["['Schüsseldienste kamen im Kalenderjahr 2021 zu insgesamt 460 Einsätzen, davon 215 Einsätze in der Tageszeit und 169 Einsätze zur Nachtzeit sowie an Sonn- und Feiertagen.', None, 'Zum Einsatzbereich gehören die Stadtgebiete Dortmund und Lünen.']",
       nan,
       "['Software, Hardware, Installations- und Montagearbeiten gemäß Leistungsbschreibung']",
       ..., "['Externe Grünpflege an Entwässerungsanlagen 2021']",
       "['Rahmenvereinbarung über den Einsatz von 8 Ordnungskräften für Service- und Sicherheitsdienstleistungen in den Kundenzentren des Jobcenter Bochum für die Vertragslaufzeit vom 01.10.2021 bis 30.09.2022 mit einer Option auf ein weiteres Jahr.']",
       "['Rahmenvertrag für Unterhaltsreinigung in zwei Losen vom 01.08.2021-31.07.2022']"],
      dtype=object)

In [46]:
data_nrw_clean['result_seller_name'].unique()

array([nan, 'GEWA Gesellschaft für Gebäudereinigung und Wartung mbH',
       'Massak Logistik GmbH', ..., 'avi-sys Kommunikationstechnik GmbH',
       'Theater Engineering Ingenieurgesellschaft mbH',
       'Communisystems-Care GmbH'], dtype=object)

We found two different documentations for this data. In none of those it specifies all the information retrieved in the data, but only the columns *created_at* and *updated_at* . All the other explanations are so far a guess based on our observation. 

| Column Name | Description |
| ----------- | ----------- |
|'Unnamed: 0',| Index created while retaining the data, only information that is not original from the Vergabe NRW|
|'_id'| Id of input |
|'created_at| indicates when the document was first indexed. This value is also returned via the HTTP response header Date when retrieving a single document|
|'updated_at'|indicates when the document was *last updated*. This does not necessarily mean that the content has changed, only that it was last updated. This value is also returned via the HTTP response header Last-Modified when retrieving a single document. |
|'result_id| Id of a valid result. It has nan values and, when its non-nan, the value is the same as the '_id' |
|'result_title'| Short description of the object of the tender or what is that tender for |
|'result_description'| Description of the purchases / services related to the tender. |
|'result_procedure_type'| Assume one of the following values: 'Ex post Veröffentlichung (§ 30 Abs. 1)','Ex ante Veröffentlichung (Binnenmarktrelevanz)', 'Ex post Veröffentlichung', 'Ex post Veröffentlichung (§ 19 Abs.2)', 'Verhandlungsvergabe mit öffentlichem Teilnahmewettbewerb', 'Beschränkte Ausschreibung mit öffentlichem Teilnahmewettbewerb', 'Ex post Veröffentlichung (Binnenmarktrelevanz)', 'Ex post Veröffentlichung (§ 20 Abs.3)','Ex ante Veröffentlichung', 'Beschränkte Ausschreibung mit Teilnahmewettbewerb','Teilnahmewettbewerb', 'Ex ante Veröffentlichung (§ 19 Abs. 5)' |
|'result_order_type'| assume values 'UVGO', 'OTHER', 'VOB', 'VOL' or empty|
|'result_publication_date'| Publication of the tender (?) |
|'result_cpv_codes'| CPV codes related to te tender. It can have more than one. |
|'result_buyer_name'| Office for whom the tender is destinated, for ex: 'Polizeipräsidium Dortmund - ZA 13.1 - Zentrale Vergabestelle' |
|'result_buyer_address'| Address of the buyer's office |
|'result_buyer_town'| Town where the buyer's office is located|
|'result_buyer_postal_code'| Postal code of the buyer's office |
|'result_seller_name'| Company which owned the tender|
|'result_seller_town'| City where the winning company is located|
|'result_seller_country' | Country where the winning company is located |
|'result_geo_lon' | We are not sure if this lon refers to the buyer or seller|
|'result_geo_lat'| We are not sure if this lat refers to the buyer or seller|
|'result_value'| Value of the tender |
|'result_created_at'| data of creating of result (its non-nan when result_id is non-nan) | 
|'result_updated_at'| data of result update |
|'result_buyer_country'| Country where buyer's office is located|

Código para converter esse script para html:

"/Users/user/Documents/Scripts e notebooks/Python notebooks/COVID19_DE_BR/Germany/2_vergabe_nrw_data_wrangling.ipynb"


jupyter nbconvert --to html --template hidecode "/Users/user/Documents/Scripts e notebooks/Python notebooks/COVID19_DE_BR/Germany/2_vergabe_nrw_data_wrangling.ipynb"

jupyter nbconvert "/Users/user/Documents/Scripts e notebooks/Python notebooks/COVID19_DE_BR/Germany/2_vergabe_nrw_data_wrangling.ipynb"

 --no-input